*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
  }

 html , body{
      font-family: sans-serif;
      min-width: 370px;
  }


  header{
      position: fixed;
      top: 0;
      z-index: 5;
      width: 100%;
      height: 100px;
      display:flex ;
      justify-content: space-between;
      align-items: center;
      padding: 0% 2%;
      background-color: rgb(162, 195, 255) !important;
      border: none !important;
      border-top: solid 2px rgb(68, 96, 206) !important;
  }

#loader
{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(222, 222, 222, 0.482);
}
  .cm-spinner {
    height: 150px;
    width: 150px;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top: 4px solid rgb(5, 40, 181);
    animation: spin 2s linear infinite;
    position: relative;
  }
  
  .cm-spinner::before,
  .cm-spinner::after {
    content: "";
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 6px;
    right: 6px;
    border-radius: 50%;
    border: 4px solid transparent;
  }
  
  .cm-spinner::before {
    border-top-color: #386ffa;
    animation: 3s spin linear infinite;
  }
  
  .cm-spinner::after {
    border-top-color: #62a8fe;
    animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

 #loader.hideloader{
  visibility: hidden;
}

 input {
    width: 300px;
    height:50px;
    background-color: #ebebeb;
    border-radius: 10px;
    border: solid 2px rgb(192, 214, 255);
    border-style: none solid solid solid ;
    box-shadow: 0 5px 10px rgba(36, 36, 36, 0.05),
        0 15px 40px rgba(0, 0, 0, 0.1);
    color: rgb(26, 34, 45);
    font-family: inherit;
    font-size: 0.8rem;
    padding: 1rem;
  }
  
  input::placeholder {
    color: rgb(102, 127, 159);
  }


  nav .nav-links
  {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 10px;
  }
  nav img{
    border-radius: 50% ;
  }

  
  nav li{
  margin-right: 20px;
  }

  header .Clip , header .Menubar{
    visibility: hidden;
    display: none;
  }

  .noResult{
    width: 60vw;
  }

  .RepoContainer{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: 170px 0px;
  }

 header,
.profile-card,
.profile-card .img-area,
.buttons button {
  background: #ecf0f3;
  border: 2px solid rgb(58, 87, 140);
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}

.profile-card {
  position: relative;
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 25px 50px 25px ; 
  transition: 0.4s ease;
}

 nav img:hover,
.profile-card:hover, 
.profile-card:hover .img-area {
    transform: scale(1.1);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  }

.profile-card .img-area {
  height: 150px;
  width: 150px;
  transition: 0.4s ease;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-area .inner-area {
  height: calc(100% - 25px);
  width: calc(100% - 25px);
  border: 2px solid rgb(162, 195, 255);
  border-radius: 50%;
}

.inner-area img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile-card .Repo {
  font-size: 23px;
  font-weight: 500;
  color: #31344b;
  margin: 10px 0 5px 0;
}

.profile-card .Owner {
  color: #44476a;
  font-weight: 400;
  font-size: 16px;
  margin: 15px 0 25px 0;

}

.profile-card .icon:hover::before,
.buttons button:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}

.buttons button:hover:before
 {
  z-index: -1;
  border-radius: 5px;
}

.profile-card .buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.buttons button ,.buttons button a {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  color: #31344b;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  z-index: 4;
}

.buttons button:first-child {
  margin-right: 10px;
}

.buttons button:last-child {
  margin-left: 10px;
}

.profile-card .social-share {
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding: 0 5px;
  justify-content: space-between;
}

.social-share .row {
  color: #31344b;
  font-size: 17px;
  cursor:default;
  position: relative;
}

.social-share .row::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background: #e0e6eb;
  margin-left: -25px;
}

.row:first-child::before {
  background: none;
}

.social-share .row i.icon-2 {
  position: absolute;
  left: 0;
  top: 50%;
  color: #31344b;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.row:nth-child(1):hover i.fa-eye,
.row:nth-child(2):hover i.fa-star {
  opacity: 1;
  pointer-events: auto;
}

header .Menubar,
nav .nav-links,
.profile-card
{
-webkit-tap-highlight-color: transparent !important;
outline: none !important;
-ms-touch-action: manipulation !important;
touch-action: manipulation !important;
}

@media only screen and (max-width: 550px) {
  header .navPCview{
    visibility: hidden;
  }
  input {
    min-width:250px;
    width:55vw;
  }
  header .Clip{
    position: absolute;
    z-index: 7;
    min-width: 370px;
    width:100vw;
    height: 98px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    visibility: visible;
    background-color: rgb(116, 165, 255);
    clip-path: circle(0px at 87% 50%);
    -webkit-clip-path: circle(0px at 87% 50%);
    transition: all 0.8s ease-out ;
  }


   header .Menubar{
    visibility: visible;
    position: absolute;
    z-index: 7;
    right: 4%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 8px 15px 8px 8px ;
    margin: 10px 5px 10px 0px ;
    cursor: pointer;
    border-radius: 50%;
    background: linear-gradient(-45deg, rgba(70, 102, 184, 0.22), rgba(149, 186, 255, 0.25));
    box-shadow: 
    15px 0px 20px 0px rgba(58, 127, 255, 0.516) inset,
    -10px 0px 20px 12px rgba(162, 195, 255, 0.242) inset
    ,0px 0px 1px 7px rgb(152, 189, 255);
    transition: all .1s .7s  ease ;
  }
  
  .menu{
    position: absolute;
    width: 25px;
    height: 7px;
    transform-origin: center center;
    border: 1px solid rgb(23, 32, 46);
    background: #ecf0f3;
    margin: 3px 0px;
    transition: all 0s .7s  ease ;
  }
  
   #bar1{
    top: 12px;
    transform: rotate(-44deg);
    
  }
  
   #bar2{
    bottom: 12px;
    transform: rotate(44deg);
  }
  header .Closebar{
      padding: 8px 10px 8px 9px !important;
      transition: all 0s ease !important;
  }
  header .Closebar::before
 {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff, 
  inset 3px 3px 5px #ceced1;
}

 .togglebar1 {
    top: 16px !important;
    transform: rotate(-48deg) !important;
    background: rgb(154, 199, 255) !important;
    transition: all .2s  ease !important ;

  }
  
  .togglebar2 {
    bottom: 20px !important;
    transform: rotate(44deg) !important;
    background: rgb(154, 199, 255) !important;
    transition: all .2s  ease !important ;
  }
  
  
  header .OpenClip{
    clip-path: circle(190vw at 100% 50%);
    -webkit-clip-path: circle(190vw at 100% 50%);
   }

}

