*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
  }

  body{
      font-family: sans-serif;
  }

  body.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }

  header{
      position: fixed;
      top: 0;
      z-index: 5;
      width: 100%;
      height: 100px;
      display:flex ;
      justify-content: start;
      background-color: rgb(162, 195, 255) !important;
      border-top: solid 2px rgb(68, 96, 206);
  }

#loader
{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(222, 222, 222, 0.482);
}
  .cm-spinner {
    height: 150px;
    width: 150px;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top: 4px solid rgb(5, 40, 181);
    animation: spin 2s linear infinite;
    position: relative;
  }
  
  .cm-spinner::before,
  .cm-spinner::after {
    content: "";
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 6px;
    right: 6px;
    border-radius: 50%;
    border: 4px solid transparent;
  }
  
  .cm-spinner::before {
    border-top-color: #386ffa;
    animation: 3s spin linear infinite;
  }
  
  .cm-spinner::after {
    border-top-color: #62a8fe;
    animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

 #loader.hideloader{
  visibility: hidden;
}

 input {
    width: 300px;
    margin: 8%  8%  8% 19% ;
    background-color: #ebebeb;
    border-radius: 10px;
    border-bottom: solid 2px rgb(192, 214, 255);
    box-shadow: 0 5px 10px rgba(36, 36, 36, 0.05),
        0 15px 40px rgba(0, 0, 0, 0.1);
    color: rgb(26, 34, 45);
    font-family: inherit;
    font-size: 0.8rem;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  
  input::placeholder {
    color: rgb(102, 127, 159);
  }

  .RepoContainer{
      width: 100%;
      display: grid;
      grid-template-columns: auto auto auto ;
      grid-gap: 50px;
      justify-content: center;
      margin: 120px 0px;
      padding:50px 0px; ;
  }

 header,
.profile-card,
.profile-card .img-area,
.buttons button {
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}

.profile-card {
  position: relative;
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.4s ease;
}


.profile-card:hover {
    transform: scale(1.1);
  }

.profile-card .img-area {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-area .inner-area {
  height: calc(100% - 25px);
  width: calc(100% - 25px);
  border-radius: 50%;
}

.inner-area img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile-card .Repo {
  font-size: 23px;
  font-weight: 500;
  color: #31344b;
  margin: 10px 0 5px 0;
}

.profile-card .Owner {
  color: #44476a;
  font-weight: 400;
  font-size: 16px;
  margin: 15px 0 25px 0;

}

.profile-card .icon:hover::before,
.buttons button:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}

.buttons button:hover:before {
  z-index: -1;
  border-radius: 5px;
}

.profile-card .buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.buttons button ,.buttons button a {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  color: #31344b;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  z-index: 4;
}

.buttons button:first-child {
  margin-right: 10px;
}

.buttons button:last-child {
  margin-left: 10px;
}

.profile-card .social-share {
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding: 0 5px;
  justify-content: space-between;
}

.social-share .row {
  color: #31344b;
  font-size: 17px;
  cursor:default;
  position: relative;
}

.social-share .row::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background: #e0e6eb;
  margin-left: -25px;
}

.row:first-child::before {
  background: none;
}

.social-share .row i.icon-2 {
  position: absolute;
  left: 0;
  top: 50%;
  color: #31344b;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.row:nth-child(1):hover i.fa-eye,
.row:nth-child(2):hover i.fa-star {
  opacity: 1;
  pointer-events: auto;
}
